.categories{
    display: flex;
    justify-content: space-around;
}

.pizza, .burger, .shaverma{
    width: 300px;
    height: 400px;
    background-color: rgb(202, 203, 204);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.pizza:hover, .burger:hover, .shaverma:hover{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
}

.img-wrapper{
    width: 200px;
    height: 250px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 25px;
}